<template>
    <div>
        <input type="text" id="myText" placeholder="Enter an id here">
        <button @click="getPost"> Load Post </button>
        <hr/>
            <div v-if="posts.title">
                <div style="display: inline-block" v-for="(word,index) in x=posts.title.split(' ')" :key="word.data">
                    <div v-bind:id="index" style="text-align: center; padding-right: 10px ; padding-left: 10px ; margin-right: 15px ; border: solid">{{ word }}
                        <button style="background-color: #fff; border: none" @click="deleteElem(index)">
                            <img src="../assets/Cross.png" style="height: 30px; weight: 30px">  
                        </button>
                    </div>
                </div>
            </div>

    </div>
</template>

<script>
import axios from 'axios'
export default{
    name: 'PostList',
    data() {
        return {
            posts: [],
        }
    },
    methods: {
        getPost() {
            var x = document.getElementById("myText").value;
            axios.get('https://jsonplaceholder.typicode.com/todos/'+x)
            .then((response) => {
                console.log(response.data)
                this.posts = response.data
            })
            .catch((error) => {
                console.log(error)
            })
            this.posts=[]
        },
        deleteElem(id){
            var obj = document.getElementById(id);
            obj.remove();
        }
    },
}
</script>

<style scoped>

</style>

